<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR page</title>

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <canvas id="c"></canvas>

    <img id="qr" src="{{ url_for('static', filename='img/qr.png') }}">
    <img id="cat" src="{{ url_for('static', filename='img/cat.gif') }}">

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>